* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.phone-wrapper {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: 25px solid black;
}

.phone {
    height: 200px;
    object-fit: contain;
    object-position: center;
    animation: rotateImg 1s linear infinite alternate;
}

@keyframes rotateImg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(120deg);
    }
}